<form [formGroup]="userForm" class="form">

  <header class="header">
    <h1>Cadastro de Usuário</h1>
    <mat-icon class="close" (click)="closeModal()">
      close
    </mat-icon>
  </header>

  <mat-form-field class="field" hideRequiredMarker floatLabel="always">
    <input matInput type="text" formControlName="name" placeholder="Nome">
    <mat-error *ngIf="userForm?.get('name')?.hasError('required')">
      O nome é obrigatório.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" hideRequiredMarker floatLabel="always">
    <input matInput type="email" formControlName="email" placeholder="Email">
    <mat-error *ngIf="userForm?.get('email')?.hasError('required')">
      O email é obrigatório.
    </mat-error>
    <mat-error *ngIf="
      userForm?.get('email')?.hasError('invalidEmail') && 
      !userForm?.get('email')?.hasError('required')
    ">
      Email inválido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" hideRequiredMarker floatLabel="always">
    <input matInput type="text" formControlName="phone" placeholder="Telefone (XX) XXXXX-XXXX">
    <mat-error *ngIf="
      userForm?.get('phone')?.hasError('invalidPhone') && 
      !userForm?.get('phone')?.hasError('required')
    ">
      Formato esperado: (XX) XXXXX-XXXX
    </mat-error>
    <mat-error *ngIf="userForm?.get('phone')?.hasError('required')">
      O telefone é obrigatório!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field" floatLabel="always" hideRequiredMarker  >
    <mat-label>Cargo</mat-label>
    <mat-select formControlName="role">
      <mat-option value="Administrador">Administrador</mat-option>
      <mat-option value="Editor">Editor</mat-option>
      <mat-option value="Visualizador">Visualizador</mat-option>
    </mat-select>
    <mat-error *ngIf="userForm?.get('role')?.hasError('required')">
      O cargo é obrigatório!
    </mat-error>
  </mat-form-field>

  <app-mat-datepicker-wrapper
    [control]="getBirthDateControl()"
    formControlName="birthDate"
    class="field date">
  </app-mat-datepicker-wrapper>

  <footer class="footer">
      <button
      mat-raised-button
      color="primary"
      [disabled]="userForm.invalid"
      (click)="handleUserData()">
      SALVAR
    </button>
  </footer>

</form>
