@import '../../../../variables/colors.scss';

.form {
  .header {
    display: flex;
    justify-content: space-between;
    .close {
      margin-top: 5px;
      cursor: pointer;
    }
  }
  ::ng-deep .field {
    display: flex;
    width: 100%;
    padding-bottom: 0.7rem;
    .mat-form-field-wrapper {
      width: 100%;
    }
    &.date {
      display: block;
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
