@import '../../../variables/colors.scss';

::ng-deep.date-error {
  font-size: 75%;
  margin-top: -27px;
  height: 20px;
  animation: slideIn 0.3s ease forwards;
  transform: translateY(-10px);
  animation: slideIn 0.3s ease forward;
}

::ng-deep mat-datepicker-toggle.invalid button {
  color: $red !important;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
