::ng-deep.date-error {
    font-size: 11px;
    margin-top: -23px;
    height: 20px;
    .error-message {
        animation: slideIn 0.3s ease forwards;
        transform: translateY(-10px);
        animation: slideIn 0.3s ease forwards
    }

}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}