<mat-form-field appearance="fill" class="field" floatLabel="always">
  <mat-label>Data de Nascimento</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" [value]="value">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-error class="date-error">
  <p class="error-message" 
  *ngIf="control?.touched && (control?.invalid || control?.hasError('required'))">
    Data de nascimento inválida!
  </p>
</mat-error>