<main class="wrapper">

  <section class="content">
    <header class="title">
      <img class="logo" [src]="'./../assets/logo.png'">
    </header>
    <nav class="addUser">
      <button mat-raised-button color="primary" (click)="openUserModal()">
        CADASTRAR USUÁRIO
      </button>
    </nav>
    <article class="cards">
      <app-user-list></app-user-list>
    </article>
  </section>
  
  <footer class="footer">
    <p class="message">
      &copy; 
      {{ currentYear }} Tech Manage. Todos os direitos reservados.
    </p>
  </footer>

</main>


