@import '../../../variables/colors.scss';
@import '../../../variables/mixins.scss';

.card {
  margin: 10px;
  .actions {
    display: flex;
    padding-left: 7px;
    gap: 1rem;
    justify-content: flex-start;
  }
}

.warning {
  @include text-font-inter;
  margin-top: 5px;
  font-size: 22px;
  text-align: center;
}

@media (max-width: 400px) {
  .card {
    width: 90%;
  }
}

@media (min-width: 401px) {
  .card {
    width: 40%;
  }
}
